<!DOCTYPE HTML>
<html>
<head>
    <title>Everhome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript!
        Websocket relies on Javascript being enabled.
        Please enable Javascript and reload this page!
    </h2>
</noscript>

<p>Humidity</p>
<p id="humidity">{{humidity}}</p>

<p>Temperature</p>
<p id="temperature">{{temperature}}</p>

<div class="setBlock">
<p>Set power</p>
<div class="row">
    <p id="set_power">{{set_power}}</p>
    <button id="onPower">ON</button>
    <button id="offPower">OFF</button>
</div>
</div>

<div class="setBlock">
<p>Set temperature</p>
<div class="row">
    <p id="set_temperature">{{set_temperature}}</p>
    <button id="inc">+</button>
    <button id="dec">-</button>
</div>
</div>

<div class="setBlock">
<p>Set conditioner mode</p>
<div class="row">
    <p id="set_conditioner_mode">{{set_conditioner_mode}}</p>
    <button id="incConditionerMode">+</button>
    <button id="decConditionerMode">-</button>
</div>
</div>

<p>Connection with raut : </p>
<p id="connection">{{connection}}</p>

<div class="row">
<div id="chartT" style="width: 900px; height: 500px"></div>
<div id="chartH" style="width: 900px; height: 500px"></div>
</div>

<p id="temperature3">{{temperature3}}</p>
</body>
</html>
